.email-label {
    font-size: 26px;
    text-align: left;
    font-family: 'Helvetica', sans-serif;
    font-weight: 900;
    /* position: relative; */
    /* top: 2px; right: -11px; */
    color: #FF9F1C;
}

.password-label {
    font-size: 26px;
    text-align: left;
    font-family: 'Helvetica', sans-serif;
    font-weight: 900;
    /* position: relative; */
    /* top: 2px; right: 15px; */
    color: #FF9F1C;
}

#password-login {
    margin: auto;
    width: 200px; 
    height: 25px;
    border-color: #2EC4B6;
    border-width: medium;
}

#email-login { 
    margin: auto;
    width: 200px;
    height: 25px;
    border-color: #2EC4B6;
    border-width: medium;
}

.login-button {
    margin-top: 60px; 
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
}

/* .email-form-group {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

} */

/* .password-form-group {
    display: flex;
    justify-content: center;

} */