.email-label {
    font-size: 26px;
    text-align: left;
    font-family: 'Helvetica', sans-serif;
    font-weight: 900;
    /* position: relative; */
    /* top: 2px; right: -11px; */
    color: #A62639;
}

.password-label {
    font-size: 26px;
    text-align: left;
    font-family: 'Helvetica', sans-serif;
    font-weight: 900;
    /* position: relative; */
    /* top: 2px; right: 15px; */
    color: #A62639;
}

#password-login {
    margin: auto;
    width: 200px;
    height: 25px;
    border-color: #1A535C;
    border-width: thin;
}

#email-login {
    margin: auto;
    width: 200px;
    height: 25px;
    border-color: #1A535C;
    border-width: thin;
}

.login-button {
  font-size: 16px;
  font-family: 'Helvetica', sans-serif;
  font-weight: 200;
  margin-bottom: 35px;
  margin-top: 125px;
  width: 160px;
  height: 50px;
  color: #1A535C;
  border: 1px solid #1A535C;
}

/* .email-form-group {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

} */

/* .password-form-group {
    display: flex;
    justify-content: center;

} */
