.edit-button {
  font-size: 16px;
  font-family: 'Helvetica', sans-serif;
  font-weight: 200;
  margin-bottom: 35px;
  width: 160px;
  height: 50px;
  color: #1A535C;
  border: 1px solid #1A535C;
}

.modal {
  max-width: 350px;
  margin: auto;
}
/*
.modal-label {

}

.modal-input {

}

.modal-body {

}

.modal-button {
  font-size: 16px;
  font-family: 'Helvetica', sans-serif;
  font-weight: 200;
  margin-bottom: 35px;
  width: 160px;
  height: 50px;
  color: #1A535C;
  border: 1px solid #1A535C;
} */
