.card-container {
    width: 400px;
    border: 1px solid black;
    /* display: flex; */
}

.song-cards {
    background-color: #586F7C;
    width: 300px;
    margin: 10px;
}

CardGroup {
    width: 30%;
}

.card-title {
    color: #F4F4F9;
}

.card-text {
    color: #F4F4F9;
}

