.page-h1 {
  margin-bottom: 25px;
}

.card-container {
    width: 400px;
    margin: auto;
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
}

.song-cards {
    border: 2px solid #A62639;
    width: 300px;
    margin: 10px;
    padding: 15px;
}

CardGroup {
    width: 30%;
}

.CardTitle {

    color: #1F2041;
}

.CardText {

    color: #1F2041;
}

.card-notes-label {
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: #A62639;
  text-underline-position: below;

}

.CardNotes {
  font-size: 12px;
  text-align: center;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p.CardNotes:hover {
    overflow: visible;
    white-space: normal;
}

.CardSubtitle {

  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: #A62639;
  text-underline-position: below;
}

.delete-button {
  font-size: 16px;
  font-family: 'Helvetica', sans-serif;
  font-weight: 200;
  margin-bottom: 35px;
  width: 160px;
  height: 50px;
  color: #1A535C;
  border: 1px solid #1A535C;
}
